# --- Geral / Sistema ---
.DS_Store
Thumbs.db

# --- Java / Maven (Backend) ---
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- Node.js / Vite / Frontend ---
node_modules/
dist/
build/
.vite/
*.tsbuildinfo

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/